<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	<section name="morpher" type="Morpher.AppConfig.ConfigurationSectionHandler, Morpher.AppConfigFactory" /></configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<connectionStrings>
		<add name="BuildUnitInWorkshop" connectionString="data source=Den;initial catalog=&quot;Build unit in workshop 5&quot;;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
		<add name="BuiltUnitWorkshop" connectionString="data source=Den;initial catalog=&quot;Build unit in workshop 5&quot;;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
	</connectionStrings>
<morpher>
    <objects>
      <add name="WebServiceClient" type="Morpher.WebService.V2.Client, Morpher.WebService.V2">
        <!-- Не забудьте сменить логин и пароль на свои: http://morpher.ru/Register.aspx -->
        <parameters url="http://morpher.ru/WebService.asmx" username="vasily_p" password="secret" />
      </add>
    </objects>
    <interfaces>
      <add object="WebServiceClient" interface="Morpher.Russian.IDeclension, Morpher.API" />
      <add object="WebServiceClient" interface="Morpher.Ukrainian.IDeclension, Morpher.API" />
      <add object="WebServiceClient" interface="Morpher.Russian.INumberSpelling, Morpher.API" />
      <add object="WebServiceClient" interface="Morpher.Ukrainian.INumberSpelling, Morpher.API" />
    </interfaces>
  </morpher></configuration>